<br>
<br>
<br>
<br>

<h1>  바나나갯수야 : <%=@num_banana%> </h1>
<h1>  사과갯수야 : <%=@num_apple%> </h1>
<h1>  귤갯수야 : <%=@num_tangerine%> </h1>
<h1>  레몬갯수야 : <%=@num_lemon%> </h1>
<h1>  포도갯수야 : <%=@num_grape%> </h1>