<body class="backg">
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron">

    <div style="padding-left:50px">
        <h2>회원정보</h2>
        <h4> 이름 : <%=current_user.name%><br>
            아이디 : <%=current_user.email%><br>
            핸드폰 : <%=current_user.phone%><br>
            마일리지 : <%=current_user.mileage%> 원</h4>
    </div>
<center>    
<h2> <%=current_user.name%>님 의 주문내역</h2>

<%num = Orderlist.last.id%>


<%=current_user.name%>님의 현재 마일리지는 <%=current_user.mileage%>입니다.<br>

<%for i in 1..num%>
    <%if Orderlist.find(i).user_id==current_user.email%>
        <%=Orderlist.find(i).name%>
        <%=Orderlist.find(i).quantity%>    
        <%=Orderlist.find(i).created_at.in_time_zone("Seoul").strftime("%Y/%m/%d %I:%M%p")%>
        <br>
    <%else%>
    <%end%>

<%end%>
</center>
</div>
</body>