<br>
<br>
<br>
<br>
<br>
<h1> 니 주문내역</h1>

<%num = Orderlist.last.id%>


<%=current_user.name%>님의 현재 마일리지는 <%=current_user.mileage%>입니다.<br>

<%for i in 1..num%>
    <%if Orderlist.find(i).user_id==current_user.email%>
        <%=Orderlist.find(i).name%>
        <%=Orderlist.find(i).quantity%>    
        <%=Orderlist.find(i).created_at.in_time_zone("Seoul").strftime("%Y/%m/%d %I:%M%p")%>
        <br>
    <%else%>
        주문내역이 없다
    <%end%>

<%end%>